<nav class="navbar">
  <div class="logo">
    <a routerLink="home">
      <img alt="Logo" src="logo2.png" />
    </a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="home" class="active">Home</a></li>
    <li><a routerLink="products">Produtos</a></li>
    <li><a routerLink="carrinho">Carrinho</a></li>
    <div class="linha"></div>

    <div class="menuContainer">
      <ng-icon name="ionPersonOutline" class="iconUser"></ng-icon>
      <div class="menuLogin" *ngIf="!isLoggedIn; else loggedInTemplate">
        <span class="menuMsg">Bem Vindo</span>
        <p class="ouText">
          <a routerLink="login" class="menuLink">Entre</a> ou
          <a routerLink="register" class="menuLink">Cadastre-se</a>
        </p>
      </div>
      <ng-template #loggedInTemplate>
        <div class="menuLogin">
          <span class="menuMsg">Bem Vindo de Volta!</span>
          <button (click)="logout()" class="menuLink">Sair</button>
        </div>
      </ng-template>
    </div>
  </ul>
</nav>
