.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  background-color: #121212;
}

.card {
  background-color: #1e1e1e;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  width: 300px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.7);
}

.card-img-top {
  width: 100%;
  height: 200px; /* Definindo altura fixa para as imagens */
  object-fit: cover;
  transition: transform 0.3s;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
  text-align: center;
  background: #1e1e1e;
}

.card-title {
  font-size: 1.5rem;
  color: #39ff14;
  margin: 10px 0;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #cccccc;
  margin: 10px 0;
}

.product-price {
  font-weight: bold;
  color: #39ff14;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.del-button {
  background-color: #ff0000;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  margin-left: 15px;
}

.del-button:hover {
  background-color: #f700009a;
  transform: scale(1.05);
}

.edit-button {
  background-color: #0ea0aa;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
}

.edit-button:hover {
  background-color: #0ea0aa86;
  transform: scale(1.05);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.card:hover .buy-button {
  animation: bounce 0.5s;
}
