<section class="login">
  <div class="loginContainer">
    <div class="loginBox">
      <h1>Faça seu login</h1><br>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="inputBox">
          <label for="email">Email</label><br>
          <input type="email" id="email" formControlName="email" required />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">O email é obrigatório.</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido.</span>
          </div>
        </div>
        <div class="inputBox">
          <label for="password">Senha</label><br>
          <input id="password" type="password" formControlName="senha" required />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">A senha é obrigatória.</span>
          </div>
        </div>
        <div class="inputBox">
          <input id="login" type="submit" value="Entrar" [disabled]="loginForm.invalid" />
        </div>
        <div class="linhaReta"></div>
        <div class="inputCadastrar">
          <a routerLink="/register" class="cadastrar">Cadastre-se</a>
          <a routerLink="/forgotPass" class="cadastrar">Esqueceu a senha?</a>
        </div>
      </form>
    </div>
  </div>
</section>
